* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: auto;
}

body {
  background: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.app h1 {
  color: rgb(38, 60, 100);
  font-family: "Courier New", Courier, monospace;
  text-shadow: 5px 3px 6px red;
  font-weight: 900;
}

.app input {
  width: 20rem;
  margin: 2rem 0 1rem;
  padding: 10px;
  border-style: none none solid none;
  color: black;
  font-weight: 600;
  text-align: left;
}

.app button {
  margin: 1rem 0 1rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border: 1.5px black solid;
  opacity: 0.5;
}

.app input:focus {
  font-weight: 800;
}

.app button:hover {
  border-color: green;
  background-color: green;
  text-shadow: 2.5px 2.5px 6px white;
  font-weight: 800;
  color: white;
  cursor: pointer;
  opacity: 1;
}

.app-task_array {
  width: 20rem;
  margin-top: 2rem;
}

/* When sizes is increase and decreased */
@media screen and (max-width: 340px) {
  .app input {
    width: 17.5rem;
  }
  .app-task_array {
    width: 17.5rem;
  }
}

/*  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
}
